body{
    background-image: url(../img/burger.jpg) ;
    margin:0;
    padding: 0;
}

#welcome {
    background-color: white;
    border: 15px solid  black;
    border-radius: 8px;
}
 
#orders {
    background-color: white;
    width: 600px;
    border: 6px solid black;
    padding: 15px;
    margin: 20px;
    border-radius: 8px;
    text-align: center;
  }

#devour {
    background-color: white;
    width: 600px;
    border: 6px solid black;
    padding: 15px;
    margin: 20px;
    border-radius: 8px;
    text-align: center;
  }

h1 {
    font-family: 'Luckiest Guy', cursive;
    color: rgb(189, 34, 34);
    text-align: center;
    font-size: 52px;
    font-weight: bolder;
}

h2 {
    font-family: 'Luckiest Guy', cursive;
}

.form-group {
    background-color: white;
    padding:15px;
    margin: 30px;
    text-align: center;
    border:1px solid black;
}

.btn {
    
    box-shadow: 4px 4px 4px#000607;
    outline: none;
}

ol {
    padding: 5px;
    font-size: 18px;
    
} 

.delete-burger {
    font-size: 16px;
    background-color: rgb(250, 205, 4);
    box-shadow: 4px 4px 4px#000607;
    outline: none;
}

.change-devour {
    font-size: 16px;
    background-color: rgb(250, 205, 4);
    box-shadow: 4px 4px 4px#000607;
    outline: none;
}