body {
    background-image: url("../img/burgerbg.jpg");
}

.jumbotron {
    background-color: white;
    border: 15px solid rgb(163, 109, 64); 

}

.display-4 {
    font-family: 'Luckiest Guy', cursive;
    text-align: center;
    color: rgb(195, 31, 31);
}

.form-group {
    display: flex;
    text-align: center;
}

li {
    padding: 5px;
    margin:5px;
    color: goldenrod;
}